<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>회원가입</h1>
    <hr/>
</head>
<body>
<form action="/join" method="POST">
    아이디: <input type="text" name="username"> <br/>
    비밀번호: <input type="password" name="password">  <br/>
    비밀번호 확인: <input type="password" name="confirm">  <br/>
    이름: <input type="text" name="name">  <br/>
    이메일: <input type="email" name="email">  <br/>
    핸드폰 번호: <input type="text" name="phoneNumber">  <br/>
    <button> 회원가입</button>
</form>

</body>
</html>